*.pyc
*.pyo
*.mo
*~
.coverage
db.sqlite3
*.sqlite
*.sock
*.wsgi
log/**
!log/placeholder
media/**
static/**
!media/**/init.txt
**/migrations/**
!**/migrations
!**/migrations/__init__.py
.DS_Store
__pycache__
